#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
}
.new{
    min-width: 100%;
    margin: 5px 0;
}
.task{
    min-width: 100%;
    background-color: white;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px gray;
}
h1{
    text-align: center;
    margin: 2px 0;
}
p{
    font-size: 1.2em;
    margin: 8px 0;
}
button{
    padding: 5px;
    background-color: pink;
    border-radius: 5px;
    border: none;
}
#new-task{
    background-color: burlywood;
    font-size: 1.2em;
}
